<div class="content-container">
    <!-- First two graphs -->
    <div class="row content-row-1">
        <div class="col content-col">
            <mat-card style="height: 100%;">
                <mat-card-content *ngIf="pieChartOptions !== undefined" style="height: 100%">
                    <canvasjs-chart [options]="pieChartOptions"
                        [styles]="{width: '100%', height:'100%'}"></canvasjs-chart>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col content-col">
            <mat-card style="height: 100%">
                <mat-card-content *ngIf="lineChartOptions !== undefined" style="height: 100%">
                    <canvasjs-chart [options]="lineChartOptions"
                        [styles]="{width: '100%', height:'100%'}"></canvasjs-chart>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <!-- Small title and text about clients and accounts -->
    <div class="row content-row-3 border-bottom">
        <div class="col d-flex flex-column justify-content-center align-items-center">
            <h1 class="about-text">My Bank</h1>
            <div>
                <p class="pt-4 p-text">
                    Welcome to My Bank, where your financial goals become a reality. My Bank is committed to providing
                    exceptional service and innovative financial solutions to help you manage and grow your wealth.
                    Whether you're saving for the future, investing in your dreams, or planning for retirement, My Bank
                    is here to support you every step of the way. Experience the difference with My Bank today!
                </p>
            </div>
        </div>
    </div>
    <!-- Two tables for client and account -->
    <div class="row content-row-4" style="margin-top: 2.3rem;">
        <div class="col-lg content-col">
            <mat-card style="height: 100%">
                <div class="card-header">
                    <app-card-header [title]="'Clients'"></app-card-header>
                </div>
                <mat-card-content style="height: 100%">
                    <app-card-table [dataSource]="dataSourceClient"
                        [displayedColumns]="displayedColumnsClient"></app-card-table>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg content-col">
            <mat-card style="height: 100%;">
                <div class="card-header">
                    <app-card-header [title]="'Accounts'"></app-card-header>
                </div>
                <mat-card-content style="height: 100%">
                    <app-card-table [dataSource]="dataSourceAccount"
                        [displayedColumns]="displayedColumnsAccount"></app-card-table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <!-- Yearly graph -->
    <div class="row content-row-2">
        <div class="col content-col">
            <mat-card style="height: 100%">
                <mat-card-content *ngIf="this.columnChartOptions !== undefined" style="height: 100%">
                    <canvasjs-chart [options]="columnChartOptions"
                        [styles]="{width: '100%', height:'100%'}"></canvasjs-chart>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>