.content-container {
    min-height: 76vh;
    padding: 2rem;
}

.form-field-width {
    width: 100%;
}

.content-col {
    margin-right: 0.7rem;
    padding: 0.7rem;
}

.card-header {
    background-color: #b1dae7;
    padding: 0.5rem;
}

td,
th {
    width: 10%;
}

.card-profile {
    margin-top: 2rem;
}

.card-avatar {
    display: flex;
    justify-content: center;
    background-color: #b1dae7;
    height: 6rem;
}

.img {
    width: 20%;
    background: white;
    border-radius: 50%;
    margin-top: -3.3rem;
    margin-bottom: -5rem;
    padding: 0.3rem;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.card-body {
    margin-top: 1rem;
}

.client-name-display {
    color: #c1c1c1;
    font-family: sans-serif;
}

.mat-card-custom {
    width: 100%;
    margin-bottom: 2rem;
}

.mat-card-header-custom {
    color: #c1c1c1;
    font-family: sans-serif;
}

.example-table-container {
    position: relative;
    margin-top: 3rem;
}

.mat-paginator {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 1;
    height: 6rem;
}

.client-account-content {
    height: 100px;
    overflow: auto;
}

.table-row-pick {
    cursor: pointer;
}

.table-row-pick:hover {
    background-color: #eeeeee;
    transition: 0.3s;
}

input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }

  .mat-mdc-mini-fab {
    box-shadow: none !important;
}