<div class="d-flex justify-content-center align-items-center login-page">

    <div class="container">
        <div class="heading">Sign In</div>
        <form (ngSubmit)="login()" class="form">
            <input [(ngModel)]="email" class="input" type="email" name="email" id="email" placeholder="E-mail">
            <span [hidden]="badCredentials" style="color: red; margin-left: 1.3rem;">Check if email is correct</span>

            <input [(ngModel)]="password" class="input" type="password" name="password" id="password" placeholder="Password">
            <span [hidden]="badCredentials" style="color: red; margin-left: 1.3rem;" class="mt-1">Check if password is correct</span>
            
            <input class="login-button mt-5" type="submit" value="Sign In">
        </form>
    </div>