<div class="d-flex justify-content-center align-items-center login-page">

    <div class="container">
        <div class="heading">Sign In</div>
        <form action="" class="form">
            <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
            <span style="color: red; margin-left: 1.3rem;">Error message goes here</span>
            <input required="" class="input" type="password" name="password" id="password" placeholder="Password">
            <span style="color: red; margin-left: 1.3rem;" class="mt-1">Error message goes here</span>
            <input class="login-button mt-5" type="submit" value="Sign In">
        </form>
    </div>